* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgb(60, 57, 57);
  color: #fff;
}
.container {
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
}
/* From Uiverse.io by cssbuttons-io */
button {
  --color: #43c717;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}
button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: green;
  transition: background 0s;
}

h2 {
  line-height: 2.3rem;
}
.img_box {
  width: 50%;
  height: 50%;
  margin: 1rem auto 0;
}
.img_box img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .img_box{
    width: 100%;
    height: 80%;
  }
}
